<div class="title">Create a Message...</div>
<div class="control">
  <textarea
    class="textarea"
    onKeyup={{inputReceived}}
    autofocus="autofocus"
    value={{body}}>
  </textarea>
</div>

{{#if showUnsavedWarning}}
  <div class="column is-one-half notification is-danger control">
    Message could be lost. Save it now!
  </div>
{{/if}}

<div class="control">
  <button
      class="button is-primary"
    onClick={{saveClicked}}>
    Save
  </button>
</div>
