{{alert-box}}
<div class="columns">
  <div class="column is-offset-3 is-6">
    {{message-composer
      saveClicked=(route-action 'saveClicked')
      inputReceived=(route-action 'inputReceived')
    }}
  </div>
</div>
